/* Mobile(width<740px) */
@media only screen and (max-width: 739px) {
  #header-wrap a {
    margin: 5px 0;
  }

  .contents {
    padding: 100px 0px 60px 0px;
  }

  .contents .head-title {
    font-size: 22px;
  }

  .row {
    background-size: cover;
    /* Để ảnh nền đầy màn hình */
    background-position: center;
    /* Căn ảnh nền giữa màn hình */
    padding-left: 0;
    /* Loại bỏ padding-left */
    text-align: center;
    /* Căn giữa nội dung trong row */
    height: 100vh;
    /* Đặt chiều cao của row là 100% chiều cao của màn hình (viewport) */
    width: 100%;
  }

  .contents h5 {
    font-size: 32px;
  }

  .contents p {
    font-size: 20px;
  }

  .contents .social-icon {
    margin-left: 34px !important;

  }

  .contents .social-icon a {
    margin: 0 1px;
  }

  #about .img-thumb img {
    background-size: cover;
    /* Để ảnh nền đầy màn hình */
    background-position: center;
    /* Căn ảnh nền giữa màn hình */
    padding-left: 0;
    /* Loại bỏ padding-left */
    text-align: center;
    /* Căn giữa nội dung trong row */
    height: 100vh;
    /* Đặt chiều cao của row là 100% chiều cao của màn hình (viewport) */
    width: 100%;
  }

  .services-item {
    margin-bottom: 20px !important;
  }

  .rowss {
    display: flex;
    flex-direction: column;

  }

  .timeline li .line-title {
    line-height: 26px;
  }

  .timeline li:first-child i {
    margin: -12px -40px;
  }


  /* Để căn giữa các biểu tượng trong phần chân trang */
  .social-icon {
    margin-left: 90px !important;
    text-align: center;
  }

  .social-icon li {
    display: inline-block;
    text-align: center;
    margin: 0 12px;
    /* Tạo khoảng cách giữa các biểu tượng */
  }

  .social-icon a {
    display: block;
  }

  /* Để căn giữa phần text của chân trang */
  .footer-text p {
    text-align: center;
  }

  iframe {
    margin-left: 50px !important;
    margin-right: 0px !important;
  }

  .img-map {

    height: 100vh;
    /* Đặt chiều cao của row là 100% chiều cao của màn hình (viewport) */
    width: 100%;
    border: 0;
    margin-bottom: 50px;
  }
}

/* tablet(width>=740px and width<1024px */
@media only screen and (min-width: 739px) and (max-width: 1023px) {
  .section-title {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .services-item .services-content h3 a {
    font-size: 14px;
  }

  .services-item {
    margin-bottom: 20px;
  }
  #about .img-thumb img {
    background-size: cover;
    /* Để ảnh nền đầy màn hình */
    background-position: center;
    /* Căn ảnh nền giữa màn hình */
    padding-left: 0;
    /* Loại bỏ padding-left */
    text-align: center;
    /* Căn giữa nội dung trong row */
    height: 100vh;
    /* Đặt chiều cao của row là 100% chiều cao của màn hình (viewport) */
    width: 100%;
  }
}

/* pc(width>=1024px) */
@media only screen and (min-width: 1023px) {
  #hero-area .contents .head-title {
    font-size: 40px;
  }

  .services-item .services-content h3 a {
    font-size: 14px;
  }
}